<?xml version="1.0"?>
<launch>
    <arg name="uri" default="radio://0/80/250K"/> 
    <arg name="robot_frame" default="robot" />
    <arg name="joy_dev" default="/dev/input/js0" />
    

    <param name="nrobot" value="1" />
    <param name="nballoon" value="1" />
    //////////////OPTI_TRACK/////////////////
    <!-- start the optitrack system -->
    <arg name="iface" default="10.0.0.1"/>
    <include file="$(find optitrack)/launch/optitrack_pipeline.launch"/>

    <!-- Define the transformation between optitrack and the world -->
    <node name="world_vicon_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.570796 world optitrack 10" output="screen"/>
     
    
    <!-- transform the coordinates from vicon rigid body 1 frame to true frame -->
    <!-- tune this every time before start -->
    <node name="vicon_robot_frame_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 -1.570796 rigid_body_1 buffer 10" output="screen"/>
    <node name="buffer_robot_frame_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 -1.57 0 0 buffer robot 10" output="screen"/>
    

    //////////////RVIZ/////////////////
    <!-- rviz and visaulzation -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find acsi_group4)/rviz/track.rviz" required="true" />

    <!-- transform the robot frame from base link -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 $(arg robot_frame) base_link 100" />
    
    
    //////////////PREDITCOR////////////////
    <node name="ballon_predictor" pkg="acsi_group4" type="balloon_predictor.py"/>
    

    //////////////SERVER/////////////////
    <!-- crazy flie server which takes care of the wireless transformation -->
    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch"/>

    <!-- activate one crazyflie -->
    <group ns="crazyflie">
        
        //////////////ADD COMUNICATION WITH SERVER AND WIRELESS TRANSFER/////////////////
        <!-- add crazyflie to the server -->
        <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
            <arg name="uri" value="$(arg uri)" />
            <arg name="tf_prefix" value="crazyflie" />
            <!-- logging allows access to on board sensors -->
            <arg name="enable_logging" value="True" />
        </include>
        
        //////////////JOY STICK////////////////
        <!-- activate joystick -->
        <node name="joy" pkg="joy" type="joy_node" output="screen" >
            <param name="dev" value="$(arg joy_dev)" />
        </node>
        
        <!-- this node uses the joystick to avtivate services such as takeoff and emergency -->
        <node name="joystick_commander" pkg="acsi_group4" type="joystick_commander.py" output="screen"/>



        //////////////CONTROLLER////////////////
        
        <!-- position control -->
        <node name="position_controller" pkg="acsi_group4" type="position_controller" output="screen">
            <param name="frame" value="$(arg robot_frame)" />
            <param name="worldFrame" value="world" />
            <rosparam command="load" file="$(find acsi_group4)/config/pid.yaml" />
        </node>
        

        //////////////PLANNER////////////////

        <!-- waypoint sender -->
        <!--<node name="waypoint_setter" pkg="acsi_group4" type="waypoint_setter.py"/>-->
        <node name="trajectory_planner" pkg="acsi_group4" type="trajectory_planner.py"/>
    </group>


</launch>
